{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

   <h1>Produits</h1>

   {% for product in products %}
       <h1>{{ product.title }}</h1>
       <strong>{{ product.price }}</strong>
       <p>
          {{ product.content}}
       </p>

       <a href="{{ path('cart_add', {id: product.id}) }}">Ajouter au panier<a/>
    
   {% endfor %}

{% endblock %}
